.admintitle{
background-color:#530602;
color:#fff;
margin:0px,50px,50px,0px;
height:140px;
line-height:140px;
}

.dashboard{
background-color:#1DEFEF;
color:#000;
margin:0px,50px,0px,50px;
padding:20px;
height:80px;

}